@import '../../styles.scss';
:host {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.input-message {
  flex: 1;
  padding: $default-padding;
  border-radius: 0;
  border: 2px solid gray;
}

.button {
  border: 2px solid gray;
  padding: $default-padding;
  background: $primary-color;
}
