@import "../../../styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

:host {
    display: flex;
    flex-direction: column;
}

.stories {
  display: flex;
  justify-content: space-evenly;
  background: #7fffd436;
  padding: 10px 16px;
  border-bottom: 2px dotted;
}


.user-item {
    font-family: "Nunito", sans-serif;
    border: medium groove $primary-color;
    background-color: antiquewhite;
    margin: 15px;
    padding: $default-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
}